@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div >
            <a class="btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mt-2">
        <div>
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to home</a>
        </div>
    </div>
</div>





                    

