@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>
            </div>
        </div>
    </div>
</div>

