@model AutonetProjectMVCASP.Models.Appointments

<h1>Create New Record</h1>

<form method="post" asp-action="CreateWithData">

    <div class="containermiddleContact">
        <div class="card card-body bg-dark text-white">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Time" class="control-label"></label>
                            <input asp-for="Time" class="form-control" readonly/>
                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" readonly/>
                            <span id="locationInput" asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4">
                            <input type="submit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>

</form>

<a id="returnLink" class="backButton btn btn-danger mt-3" asp-action="Select" asp-route-location="">Back to Selection</a>

@section Scripts {
    <script>
       function beginning()
       {
            const locationInput = document.getElementById("locationInput");
            const returnLink = document.getElementById("returnLink");
            const location = encodeURIComponent(locationInput.value);

            returnLink.setAttribute("asp-route-location", location);
       }

       beginning();

    </script>
}

