@model IEnumerable<AutonetProjectMVCASP.Models.Appointments>
@{
    ViewData["Title"] = "Person";
    int counter = 0;
}

<style>
    .card{
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 25px;
        box-sizing: border-box;
        overflow: hidden;
        border: 3px solid white;
        box-shadow: 8px 8px 0px rgb(128, 128, 128) !important;
        transition: 0.5s;
    }

    .card:hover {
        box-shadow: 8px 8px 0px rgb(175, 175, 175) !important;
    }
</style>


    <div class="card bg-dark text-white">
        <div class="card-header">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-10 col-sm-12 text-center">
                    <div>
                        <h1>Appointments associated with this account</h1>
                    </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-10 col-sm-12">
                    <table class="table appointmentsTable">
                        <thead>
                        <th>
                            <div style="color:orangered">
                                Name
                            </div>
                        </th>
                        <th>
                            <div style="color:orangered">
                            Location
                            </div>
                        </th>
                        <th>
                            <div style="color:orangered">
                            Time
                            </div>
                        </th>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                @if (User.Identity.Name == obj.UserId)
                                {
                                    <tr>
                                        <td>
                                            @obj.Name
                                        </td>
                                        <td>aj
                                            @obj.Location
                                        </td>
                                        <td>
                                            @obj.Time
                                        </td>
                                        <td>
                                           <a class="btn btn-danger" asp-controller="Appointments" asp-action="Remove" asp-route-id="@obj.Id">Remove</a>
                                        </td>
                                    </tr>
                                    counter++;
                                }
                            })
                            @if (counter == 0)
                            {
                                <div>
                                    <tr>
                                        <td colspan="5">
                                            <div class="alert alert-danger" role="alert">
                                                There are no appointments associated with this account!
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            <div class="row justify-content-center pb-1">
                <div class="col-lg-4 col-sm-12 text-center">
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to Main Page</a>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>
<div class="row align-items-center justify-content-center pt-3">
     <div class="cardscontact_no_size card bg-dark text-white">
         <div class="card-body pt-3">
             <div class="row">
                 <div class="col-lg-12 col-sm-12">
                     <h2>Export Options</h2>
                 </div>
             </div>
             <div class="row pt-3">
                 <form asp-action="GeneratePersonPdf" method="get">
                     <button class="btn btn-secondary" type="submit">Generate PDF</button>
                 </form>
             </div>
             <div class="row pt-1 pb-1">
                 <form asp-action="GeneratePersonExcel" method="get">
                     <button class="btn btn-secondary" type="submit">Generate Excel</button>.
                 </form>
             </div>

         </div>

     </div>
</div>
    

