@model IEnumerable<Locations>
@{
    ViewData["Title"] = "Select";
}

<h1>Select</h1>
<form method="get" asp-action="Index" style="min-width:300px;">
    <select name="location">
        @foreach (var location in Model)
        {
            <option value="@location.Place">@location.Place</option>
        }
    </select>
    <input type="submit" value="Submit" />
</form>

<a class="btn btn-success" asp-action="Create"></a>

