@model IEnumerable<Locations>
@{
    ViewData["Title"] = "Select";
}

<h1>Select</h1>

<div class="container card card-body bg-dark text-white">
    <div class="row">
        <div class="col-6">
            <form method="get" asp-action="Index" style="min-width:300px;">
                <select name="location">
                    @foreach (var location in Model)
                    {
                        <option value="@location.Place">@location.Place</option>
                    }
                </select>
                <input class="btn btn-success" type="submit" value="Submit" />
            </form>
        </div>
        <div class="col-3 align-content-end">
            <a class="btn btn-primary" style="align-self:end" asp-action="Create">Create New Appointment Anywhere</a>
        </div>
        
    </div>
</div>
