@model AutonetProjectMVCASP.Models.Employees

@{
    ViewData["Title"] = "Edit";
    string emp = "employee1";
}

<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="card bg-dark text-white " style="width:max-content;min-width:40%">
        <div class="card-body">
            <h4 class="pt-2">Employees - Edit</h4>
            <hr />
            
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Job" class="control-label"></label>
                            <input asp-for="Job" class="form-control" />
                            <span asp-validation-for="Job" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImagePath" class="control-label">Profile Picture</label><br />
                            <input asp-for="ImagePath" type="file" name="imageFile" class="form-control-file" />
                            <span asp-validation-for="ImagePath" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Save" class="btn btn-primary" /> |
                                <a class="btn btn-secondary" asp-action="Index">Go Back</a>
                            </div>
                            
                        </div>
                    </form>
             
        </div>

    </div>
</div>


