header {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: auto;
}

body {
    padding-top: 80px;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("Media/body_background.jpg");
    background-color: #ff6000;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



footer {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    display: inline-block;
    padding: 0vh 0vw 1vh 0vw;
    color: #ff6000;
    margin: 0vh 0 5vh 0;
    background-color: rgb(33, 37, 41);
    border-radius: 7px; /* Border with dulled edges */
}

div h1 {
    margin: 0;
    padding: 0;
}

.introtittle {
    background: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 0px;
}

.introtext {
    background: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.introtext {
    padding-left: 1em
}


.appointmentsTable {
    background: rgb(33, 37, 41);
    color: white;
    border-radius: 5px;
}

    .appointmentsTable th {
        padding: 5px;
        border: 1px dotted white;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: white;
        min-width: 100px;
    }

    .appointmentsTable td {
        padding: 5px;
        border: 1px dotted white;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: white;
        min-width: 100px;
    }

        .appointmentsTable td:hover {
            background-color: rgb(255, 96, 0, 0.65);
        }

.containermiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}



.center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.containerbutton {
    margin-top:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startbutton {
    border-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid 2px grey;
    color: white;
    font-weight: 600;

    transition: 0.5s;

}

    .startbutton:hover {
        border-radius: 25px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 20px;
        padding-left: 20px;
        border: solid 2px #ff6000;
        color: white;
        font-weight: 600;
    }


.navbar-nav {
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}



.navbar {
    border-bottom: 23px solid green; /* Added */
    height: 75px;
    margin-bottom: auto;
}

.navbar-brand {
    color: #ff6000;
    font-size: 35px;
}

dd {
    color: white;
}

.containermiddleContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 77vh;
}

/*.card {
    display: flex;
    justify-content: flex-start;
    color: white;
}*/

.containerbackButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.backButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
}

@media (min-width: 40ch) {
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
}

body {
}

.containercontact {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-content: center;
    margin-left: -200px;
    margin-right: -200px;
}

.ContactTittle {
    display: flex;
    margin: auto;
    justify-content: flex-start;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
}

.cardscontact {
    width: 23.33%;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: white;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid white;
    min-height: 320px;
    
    text-align: center;
    box-shadow: 8px 8px 0px rgb(128, 128, 128);
    transition: 0.5s;
}

.bigmap {
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: auto;
    border: 3px solid white;
    min-height: 320px;
    text-align: center;
    box-shadow: 8px 8px 0px rgb(128, 128, 128);
    transition: 0.5s;
}

    .cardscontact:hover {
        box-shadow: 8px 8px 0px rgb(175, 175, 175)
    }


.card__image {
    padding-top: 56.25%; /* 16:9 aspect ratio */
    
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -11px;
    margin-right: -11px;
    margin-left: -11px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: 0px;
    margin-bottom: 15px;   
}

    .card__image.image1 {
        background-image: url("Media/service1-min.jpg");
    }

    .card__image.image2 {
        background-image: url("Media/service2-min.jpg");
    }

    .card__image.image3 {
        background-image: url("Media/service3-min.jpg");
    }

    .card__image.image4 {
        background-image: url("Media/service4-min.jpg");
    }

    .card__image.image5 {
        background-image: url("Media/service5-min.jpg");
    }

    .card__image.image6 {
        background-image: url("Media/service6-min.jpg");
    }

    .card__image.image7 {
        background-image: url("Media/service7-min.jpg");
    }

    .card__image.image8 {
        background-image: url("Media/service8-min.jpg");
    }
.employee_image {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

    .employee_image.employee1 {
        background-image: url("Media/employee1.jpg");
    }
    .employee_image.employee2 {
        background-image: url("Media/employee2.jpg");
    }
    .employee_image.employee3 {
        background-image: url("Media/employee3.jpg");
    }
    .employee_image.employee4 {
        background-image: url("Media/employee4.jpg");
    }
    .employee_image.employee5 {
        background-image: url("Media/employee5.jpg");
    }
    .employee_image.employee6 {
        background-image: url("Media/employee6.jpg");
    }



.card__title {
    font-size: 18px;
    font-weight: bold;
}

.card__text {
    margin-top: 10px;
    font-weight: 500;
}

.card__info {
    font-style: italic;
    margin-top: auto;
}

