body {
    padding-top: 80px;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("Media/body_background.jpg");
    background-color: #ff6000;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    display: inline-block;
    padding: 1vh 2vw 1vh 2vw;
    color: #ff6000;
    margin: 5vh 0 5vh 0;
    background-color: rgb(33, 37, 41);
    border-radius: 3px; /* Border with dulled edges */
}

.introtittle{
    background: none;
}

.appointmentsTable{
    background: rgb(33, 37, 41);
    color: white;
    border-radius: 5px;
    
}
    .appointmentsTable th {
        padding: 5px;
        border: 1px dotted white;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: white;
    }

    .appointmentsTable td {
        padding: 5px;
        border: 1px dotted white;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: white;
    }

.appointmentsTable td:hover{
    background-color: rgb(255, 96, 0, 0.65);

    
}

.containermiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}



.center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.containerbutton {
    margin-top:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startbutton {
   
    border-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid 2px grey;
    color: white;
    font-weight: 600;

}

    .startbutton:hover {
        border-radius: 25px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 20px;
        padding-left: 20px;
        border: solid 2px #ff6000;
        color: #ff6000;
        font-weight: 600;
    }


.navbar-nav {
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.navbar {
    border-bottom: 23px solid green; /* Added */
    height:75px;
}

.navbar-brand {
    color: #ff6000;
    font-size: 35px;
}

dd{
    color: white;
}


@media (min-width: 40ch) {
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  
}

body {
 
}