@model AutonetProjectMVCASP.Models.Locations

@{
    ViewData["Title"] = "Create";
    string loc = "image1";
}

<div class="container mt-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-8">


            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h4>Locations</h4>
                    <hr />
                    <div class="">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Place" class="control-label"></label>
                                <input asp-for="Place" class="form-control" />
                                <span asp-validation-for="Place" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StartTime" class="control-label"></label>
                                <input asp-for="StartTime" class="form-control" />
                                <span asp-validation-for="StartTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EndTime" class="control-label"></label>
                                <input asp-for="EndTime" class="form-control" />
                                <span asp-validation-for="EndTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Latitude" class="control-label"></label>
                                <input asp-for="Latitude" class="form-control" />
                                <span asp-validation-for="Latitude" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Longitude" class="control-label"></label>
                                <input asp-for="Longitude" class="form-control" />
                                <span asp-validation-for="Longitude" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="LocationEmployees" class="control-label"></label>
                                @if (ViewBag.Employees != null)
                                {
                                    foreach (var employee in ViewBag.Employees)
                                    {
                                        <div>
                                            <input type="checkbox" name="employeeIds" value="@employee.Id" />
                                            <label>@employee.Name</label>
                                        </div>
                                    }
                                }
                                <span asp-validation-for="LocationEmployees" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="ImagePath" class="control-label"></label>
                                <select asp-for="ImagePath" class="form-control">
                                @for (int i = 1; i <= 6; i++)
                                {
                                    loc = "image" + i;
                                    <option value=@loc><div class="employee_image @loc">@i</option>
                                }
                                </select>
                                <span asp-validation-for="ImagePath" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" /> |
                                <a class="btn btn-secondary" href='javascript:history.go(-1)'>Go Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


