@{
    ViewData["Title"] = "Home Page";
}

<div class="containermiddle">

    <div class="center-div">
        <h1 class="introtittle">
            At Car Service Booking, our aim is to provide you<br />
            with a simple and easy way of scheduling your<br />
            car service appointments.
        </h1>
        <p class="introtext pt-4">
            With our easy-to-use online platform, we hope to provide the smoothest experience<br />            
            of making appointments at trusted repair shops all over the world.<br />
            Whether you need routine maintenance, repairs, or something more unusual,<br />
            we provide a network of qualified professionals ready to assist you.
        </p>
        <p class="introtext pt-2">
            Simplify your life by using Car Service Booking<br />
            to manage all your car related appointments in one place.<br />
            Forget the tedium of direct phone calls, long wait times and unfriendly phone operators,<br />
            book your appointments with just a few clicks!
        </p>
    </div>

    <div class="containerbutton pt-1 pb-1">
        <span class="text-white">
            <a class="startbutton bg-dark" style="text-decoration:none" asp-controller="Appointments" asp-action="Select">
                Let's get started
            </a>
        </span>
    </div>

</div>

