@{
    ViewData["Title"] = "Home Page";
}

<div class="containermiddle">

    <div class="center-div">
        <h1 class="introtittle">
            At Car Service Booking, we are dedicated to providing you<br />
            with a convenient and hassle-free experience for scheduling<br />car
            service appointments.
        </h1>
        <p class="introtext pt-4">
            With our easy-to-use online platform, you can quickly find and book
            appointments<br />
            with trusted car service providers in your local area.<br />
            Whether you need routine maintenance, repairs, or specialized
            services,<br />
            we have a network of qualified professionals ready to assist you.
        </p>
        <p class="introtext pt-2">
            Save time and effort by using Car Service Booking<br />
            to manage all your car service appointments in one place.<br />
            Say goodbye to phone calls and waiting on hold,<br />book your
            appointments with just a few clicks!"
        </p>
    </div>

    <div class="containerbutton pt-1 pb-1">
        <span class="text-white">
            <a class="startbutton bg-dark" style="text-decoration:none" asp-controller="Appointments" asp-action="Select">
                Let's get started
            </a>
        </span>
    </div>

</div>

