@using Microsoft.AspNetCore.Identity;

@model AutonetProjectMVCASP.Controllers.UsersAndRolesManagers;
@{
    var users = Model._userManager.Users.ToList();
    var roles = Model._roleManager.Roles.ToList();
}







<h1 class="mb-2 mt-4">List of Users</h1>

    
            <div class="row">
                <div class="container-fluid align-items-start justify-content-lg-start">

                
                    <form asp-action="RoleChanger">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @foreach (var user in users)
                        {
                            //each user has a card with changeable roles, updated with the button at the bottom
                                <div class="cardscontact_half card bg-dark text-white">
                                    <div class="card-body">
                                        
                                            <div>
                                                <h2 style="font-weight:bold; color: #ff6000;">@user.Email</h2>

                                                <div class="form-group">
                                                    
                                                    <div class="row justify-content-center">
                                                        <div class="container-fluid">
                                                            <div class="col-3">
                                                                <label class="control-label">Roles:</label><br />
                                                            </div>
                                                            <div class="col-8">
                                                                <div class="container-fluid d-flex flex-row">

                                                                
                                                            
                                                                    @foreach (var role in roles)
                                                                    {
                                                                        var isChecked = await Model._userManager.IsInRoleAsync(user, role.Name);
                                                                        <div class="checkbox-wrapper-2">
                                                                            <input class="sc-gJwTLC ikxBAC" type="checkbox" name="roles[@user.Id]" value="@role.Name" @(isChecked ? "checked" : "") />
                                                                            <label>@role.Name</label>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>      
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            
                        }

            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg> Update Roles
            </button>
                    </form>
    </div>
            </div>
